@mixin btn-base{
    padding: 0.25rem 1.5rem;
    border-radius: 0.25rem;
}

@mixin btn-sm-modify{
    font-size: 0.75rem;
    padding: 0.1rem 1rem;
}

$color-main: #0065FF;
$color-footer: #F5F8FF;

.btn-main{
    @include btn-base();
    background-color: $color-main;
    color: white;
    border: solid 1px $color-main;

    &:hover{
        background-color: white;
        color: $color-main;
        border: solid 1px $color-main;
    }

    &-s {
        @extend .btn-main;
        @include btn-sm-modify();
    }
}

.btn-sec {
    @include btn-base();
    color: black;
    background-color: transparent;
    border: none;

    &:hover{
        color:#888
    }
    &-s{
        @extend .btn-sec;
        @include btn-sm-modify();
    }
}

.main-menu{
    margin-bottom: 0;
    li{
        list-style: none;
        display: inline;
        font-size: 1rem;
        margin-right: 1rem;
        a {
            color: #000;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.icon-sm{
    i{
        font-size: 1.25rem;
        padding: 0.45rem 0.75rem;
        border-radius: 50%;
        color: $color-main;
        box-shadow: 0 0 10px #27272794;
    }
}

.benefit{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .icon{
        color: $color-main;
        font-size: 6rem;
        text-align: center;
    }
    .description{

        .title{
            font-size: 1.5rem;
            text-align: center;
        }
        .text{
            font-size: 0.75rem;
            color: #888;
            text-align: center;
        }
    }
    .cta{
        font-size: 0.75rem;
        color: $color-main;
        font-weight: 600;
        margin-top: 3rem;
        text-align: center;
    }
}

.icon-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    i {
        padding: 0;
        color: $color-main;
        font-size: 7rem;
    }

    .title{
        margin-top: -1rem;
        font-size: 1.5rem;
        font-weight: 600;
    }
}

.logo a img{
        max-width: 15rem;
        height: 2rem;
    }
