div{
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    background-color: white;
}

/*Posicionamiento relativo - se posiciona en relacion al 
posicionamiento original*/
.relative{
    position: relative;
    left: 80px;
    margin-left: 10px;
}

/*Posicionamiento fijo - se posiciona en relacion a la pantalla*/
.fixed{
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: aqua;
    z-index: 10;
}


/*Posiconamiento absoluto*/
.absolute{
    position:absolute;
    top: 0px;
    right: 0px;
}

.relative.container{
    width: 300px;
    height: 800px;
    background-color: blue;
}

/*Posicionamiento pegajoso - al hacer scroll modifica 
su posicionamiento realtivo*/
.sticky {
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: darksalmon;
    color: white;
}