*{
    padding: 0px;
    margin: 0px;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}

.video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
}

.header{
    height: 100vh;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}