.contenedor {
    display: grid;
    gap: 0.5rem;
    /*
    row-gap: 1rem;
    grid-template-columns: auto auto auto;
    grid-template-columns: repeat(4, auto);
    
    grid-template-columns: 50px 4rem 30em;
    
    
    grid-template-areas: 'head head head' 'main main aside' 'footer footer footer';
    */
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 2fr 1fr 1fr;

}

.item {
    background-color: rgb(54, 167, 167);
    padding: 0.25rem;
    font-size: 2rem;
    border: solid 1px black;
}

.item1 {
    /*grid-area: head;*/
    grid-column: 2 / span 2;
}

.item9 {
    /*grid-area: footer;*/
    grid-area: 2 / 3 / 4 / 3;
    /*grid-area: filainici0 / colinicio/ filafin/ colfin;*/
}